
body {
	background-color: #013378;
}

div.no-script-warning {
    font-weight: bold;
    background: #cc0000;
    text-align: center;
}

div.no-script-info {
    font-weight: bold;
    background: #66ccff;
    text-align: center;
}

.bestbid {
	color: #009900;
    font-weight: bold;
}

.notbestbid{
	color: #b30000;
    font-weight: bold;
}