
body {
    	/*
	background-color: #8b9dc3;
	*/
}

div.no-script-warning {
    font-weight: bold;
    background: #cc0000;
    text-align: center;
}

div.no-script-info {
    font-weight: bold;
    background: #66ccff;
    text-align: center;
}
